@page
@model ShortenUrl.Pages.MyUrlModel
@{
}

<div class="container">
    <div class="row gy-3">
        @foreach (var url in Model.URLs)
        {
            <div class="col-6">
                <form method="post">
                    <div class="card">
                        <div class="card-body">
                            <h2>Shorten URL: @url.ShortenUrl</h2>
                            <p>Original URL: <a href="@url.OriginalUrl">@url.OriginalUrl</a></p>
                            <p>Visited: @url.VisitedCounter</p>
                            <a class="btn btn-primary" asp-area="" asp-route-url="@url.ShortenUrl"
                            asp-page="/Redirect">Visit</a>
                            <a class="btn btn-secondary" asp-area="" asp-route-id="@url.Id" asp-page="/EditUrl">Edit URL</a>
                            <button type="button" class="btn btn-secondary"
                            onclick="copyToClipboard('@Url.PageLink("/Redirect", "OnGet", new { url = @url.ShortenUrl })')">Copy
                                Shorten URL</button>
                            <button type="button" class="btn btn-secondary" onclick="copyToClipboard('@url.OriginalUrl')">Copy Original
                                URL</button>
                            <button class="btn btn-danger" type="submit" asp-route-id="@url.Id"
                            asp-page-handler="Delete">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</div>

@section Scripts {
<script asp-append-version="true">
    function copyToClipboard(message) {
        var msg = message;
        navigator.clipboard.writeText(msg);
        alert("Copied the text: " + msg);
        return false;
    }
</script>
}
